# Tips & Tricks 2

## Multiple Assignment

In python you can assign multiple values to multiple variables, or the same value to multiple variables at the same time.

In [31]:
name, age, gender = 'Claus', 43, True
age

43

If there is one variable on the left side, it is assigned as a **tuple**

In [33]:
person = 'Claus', 43, True
person

('Claus', 43, True)

Folowing the same concept returning more than one value in a function will **return a tuple**

In [34]:
def msg():
    return 1, 2, 3      # tuple

msg()

(1, 2, 3)

If the number of variables on the left and the number of values on the right do not match, a ```ValueError``` will occur, but you can assign the rest as a list by appending **\*** to the variable name.

In [37]:
a, *b = 100, 200, 300
b

[200, 300]

Assign the same value to multiple variables

In [36]:
person1 = person2 = person3 = 'Claus'
person2

'Claus'

### Test results example
Out of n number of test results throw away the 2 first and the last and calculate the avarage of the remainers.

In [42]:
def test_results(l):
    first, second, *middle, last = l
    return sum(middle) / len(middle)

test_results([100 , 29, 78, 76, 55, 20])

69.66666666666667

https://medium.com/understand-the-python/understanding-the-asterisk-of-python-8b9daaa4a558  
https://treyhunner.com/2018/10/asterisks-in-python-what-they-are-and-how-to-use-them/  
https://www.datacamp.com/community/tutorials/usage-asterisks-python

### Things you can not unpack into

# this would either unpack multiple variables into a single var or unpack into a list (which does not make sense)
names = *['Claus', 'Hannah', 'Peter']

# This would unpack into a tuple instead this would do the job - tuple([1, 2, 3, 4])
def rtr():
    return *[1, 2, 3, 4]

## Swap

In [2]:
l = [4, 2]

temp = l[0]
l[0] = l[1]    # [2, 2] 
l[1] = temp    # [2, 4]

l

[2, 4]

### Pythonic swap

In [3]:
l = [4, 2]
l[0], l[1] = l[1], l[0]
l

[2, 4]

## Funny return type, or?

In [27]:
def msg():
    return 1, 2, 3      # tuple

msg()

(1, 2, 3)

## Super easy webserver

python -m http.server